/* <!-- 1. Apply a red background to all paragraphs --> */
/* <!-- 11. Change the font family of all <p> elements to Arial --> */
/* <!-- 13. Make the text of all <p> elements bold --> */
p {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* <!-- 2. Apply a blue text color to elements with the class `blue-text` --> */

.blue-text {
    color: blue;
}

/* <!-- 3. Apply a green border to the element with the id `unique-element` -->√ */
#unique-element {
    border-color: green;
    border-style: solid;
}
/*<!-- 4. Apply a font size of 20px to all <span> elements inside <div> -->*/
div>span {
    font-size: 20px;
}

/* <!-- 5. Apply a yellow background to all input elements with type="text" --> */
input[type="text"] {
    background-color: yellow;
}

/* <!-- 6. Change the text color of all <h1> elements to purple --> */
h1 {
    color: purple;
}
/* <!-- 7. Change the background color of all <div> elements to light blue --> */
/* <!-- 10. Set the opacity of all <div> elements to 0.5 --> */
/* <!-- 16. Add a 20px margin to all <div> elements --> */
/* <!-- 17. Add a 10px padding to all <div> elements --> */
/* <!-- 18. Add a solid, 2px black border to all <div> elements --> */
/* <!-- 20. Add a shadow to all <div> elements --> */

div{
    opacity: .5;
    background-color: purple;
    margin: 20px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    text-shadow: 2px 2px 5px red;
}

/* <!-- 8. Apply a background image to the body element --> */
/* <!-- 9. Prevent the background image from repeating --> */

body{
    background-image: url(assests2/flower.webp);
    background-repeat: no-repeat;
}
/* <!-- 12. Change the font size of all <h2> elements to 24px --> */
h2 {
    font-size: 24px;
}

/* <!-- 14. Center align all <h3> elements --> */
h3 {
    text-align: center;
}
/* <!-- 15. Remove underlines all links --> */
a {
    text-decoration: none;
}
/* <!-- 19. Set the width of all <img> elements to 200px and height to 150px -->*/
img {
    width: 200px;
    height: 150px;
}
/* <!-- 21. Change the display property of all <span> elements to block --> */
span{
    display:block;
}
/* <!-- 22. Position a <div> element at the top-right corner of the page --> */
div#topright{
    position: fixed;
    margin:5px;
    padding:2px;
}
/* <!-- 23. Float a <div> element to the left --> */
div#float{
    float:left;
    text-align: left;
}
/* <!-- 24. Use flexbox to center align items inside a container --> */
div.container{
    display:flex;
    justify-content: center;
}














